In [0]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [81]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv

--2019-08-19 07:57:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11979363 (11M) [application/x-httpd-php]
Saving to: ‘energydata_complete.csv.3’

energydata_complete 100%[===================>]  11.42M  17.1MB/s    in 0.7s

2019-08-19 07:57:43 (17.1 MB/s) - ‘energydata_complete.csv.3’ saved [11979363/11979363]

In [82]:
data_df = pd.read_csv('energydata_complete.csv', sep=',')
data_df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [68]:
data_df.shape

(19735, 29)

In [69]:
data_df.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [70]:
data_df['date'] = pd.to_datetime(data_df['date'], format='%Y-%m-%d %H:%M:%S')
print(data_df['date'].dtypes)

datetime64[ns]

In [71]:
print(type(data_df['date'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [72]:
# 最初の日時からの経過時間を定義
data_df['dif_min'] = data_df['date'].diff().dt.total_seconds()/60
data_df['dif_min'] = data_df['dif_min'].fillna(0)
data_df['dif_min'].head()

0     0.0
1    10.0
2    10.0
3    10.0
4    10.0
Name: dif_min, dtype: float64

In [73]:
data_df['cum_min'] = data_df['dif_min'].cumsum()
data_df[['date', 'cum_min']].head()

                 date  cum_min
0 2016-01-11 17:00:00      0.0
1 2016-01-11 17:10:00     10.0
2 2016-01-11 17:20:00     20.0
3 2016-01-11 17:30:00     30.0
4 2016-01-11 17:40:00     40.0

In [74]:
# 欠損値の確認
def missing_values_table(df): 
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum()/len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        return mis_val_table_ren_columns 

# dataに欠損があるかどうか確認
missing_values_table(data_df)

             Missing Values  % of Total Values
date                      0                0.0
Appliances                0                0.0
lights                    0                0.0
T1                        0                0.0
RH_1                      0                0.0
T2                        0                0.0
RH_2                      0                0.0
T3                        0                0.0
RH_3                      0                0.0
T4                        0                0.0
RH_4                      0                0.0
T5                        0                0.0
RH_5                      0                0.0
T6                        0                0.0
RH_6                      0                0.0
T7                        0                0.0
RH_7                      0                0.0
T8                        0                0.0
RH_8                      0                0.0
T9                        0                0.0
RH_9                      0                0.0
T_out                     0                0.0
Press_mm_hg               0                0.0
RH_out                    0                0.0
Windspeed                 0                0.0
Visibility                0                0.0
Tdewpoint                 0                0.0
rv1                       0                0.0
rv2                       0                0.0
dif_min                   0                0.0
cum_min                   0                0.0

### set_indexを用いた変換

In [98]:
data_df['date'] = pd.to_datetime(data_df['date'])
dateindex_df = data_df.set_index('date')
dateindex_df.head()

                     Appliances  lights     T1  ...  Tdewpoint        rv1        rv2
date                                            ...
2016-01-11 17:00:00          60      30  19.89  ...        5.3  13.275433  13.275433
2016-01-11 17:10:00          60      30  19.89  ...        5.2  18.606195  18.606195
2016-01-11 17:20:00          50      30  19.89  ...        5.1  28.642668  28.642668
2016-01-11 17:30:00          50      40  19.89  ...        5.0  45.410389  45.410389
2016-01-11 17:40:00          60      40  19.89  ...        4.9  10.084097  10.084097

[5 rows x 28 columns]

In [100]:
# 月の平均値を表示
dateindex_df[['T1', 'T2', 'T3']].resample('M').mean().head()

                   T1         T2         T3
date
2016-01-31  19.945175  19.102295  19.876480
2016-02-29  21.163817  19.924704  21.417500
2016-03-31  21.259760  19.141096  21.534074
2016-04-30  21.856511  20.224405  23.018526
2016-05-31  23.877728  23.253625  25.010280

In [75]:
# 統計量の計算
data_df.describe()

         Appliances        lights  ...       dif_min       cum_min
count  19735.000000  19735.000000  ...  19735.000000   19735.00000
mean      97.694958      3.801875  ...      9.999493   98670.00000
std      102.524891      7.935988  ...      0.071184   56971.48117
min       10.000000      0.000000  ...      0.000000       0.00000
25%       50.000000      0.000000  ...     10.000000   49335.00000
50%       60.000000      0.000000  ...     10.000000   98670.00000
75%      100.000000      0.000000  ...     10.000000  148005.00000
max     1080.000000     70.000000  ...     10.000000  197340.00000

[8 rows x 30 columns]

### Q．経過時間(分)から経過時間(時)を計算してください。

In [76]:
data_df['cum_hour'] = (data_df['cum_min']/60).round(2).astype(int)
data_df[['date', 'cum_min', 'cum_hour']].head(10)

                 date  cum_min  cum_hour
0 2016-01-11 17:00:00      0.0         0
1 2016-01-11 17:10:00     10.0         0
2 2016-01-11 17:20:00     20.0         0
3 2016-01-11 17:30:00     30.0         0
4 2016-01-11 17:40:00     40.0         0
5 2016-01-11 17:50:00     50.0         0
6 2016-01-11 18:00:00     60.0         1
7 2016-01-11 18:10:00     70.0         1
8 2016-01-11 18:20:00     80.0         1
9 2016-01-11 18:30:00     90.0         1

### Q．経過時間（分）から、経過時間（6時間単位）を計算してください。

In [77]:
data_df['cum_6hour'] = (data_df['cum_min']/360).round(2).astype(int)
data_df[['date', 'cum_min', 'cum_6hour']].head(40)

                  date  cum_min  cum_6hour
0  2016-01-11 17:00:00      0.0          0
1  2016-01-11 17:10:00     10.0          0
2  2016-01-11 17:20:00     20.0          0
3  2016-01-11 17:30:00     30.0          0
4  2016-01-11 17:40:00     40.0          0
5  2016-01-11 17:50:00     50.0          0
6  2016-01-11 18:00:00     60.0          0
7  2016-01-11 18:10:00     70.0          0
8  2016-01-11 18:20:00     80.0          0
9  2016-01-11 18:30:00     90.0          0
10 2016-01-11 18:40:00    100.0          0
11 2016-01-11 18:50:00    110.0          0
12 2016-01-11 19:00:00    120.0          0
13 2016-01-11 19:10:00    130.0          0
14 2016-01-11 19:20:00    140.0          0
15 2016-01-11 19:30:00    150.0          0
16 2016-01-11 19:40:00    160.0          0
17 2016-01-11 19:50:00    170.0          0
18 2016-01-11 20:00:00    180.0          0
19 2016-01-11 20:10:00    190.0          0
20 2016-01-11 20:20:00    200.0          0
21 2016-01-11 20:30:00    210.0          0
22 2016-01-11 20:40:00    220.0          0
23 2016-01-11 20:50:00    230.0          0
24 2016-01-11 21:00:00    240.0          0
25 2016-01-11 21:10:00    250.0          0
26 2016-01-11 21:20:00    260.0          0
27 2016-01-11 21:30:00    270.0          0
28 2016-01-11 21:40:00    280.0          0
29 2016-01-11 21:50:00    290.0          0
30 2016-01-11 22:00:00    300.0          0
31 2016-01-11 22:10:00    310.0          0
32 2016-01-11 22:20:00    320.0          0
33 2016-01-11 22:30:00    330.0          0
34 2016-01-11 22:40:00    340.0          0
35 2016-01-11 22:50:00    350.0          0
36 2016-01-11 23:00:00    360.0          1
37 2016-01-11 23:10:00    370.0          1
38 2016-01-11 23:20:00    380.0          1
39 2016-01-11 23:30:00    390.0          1